<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FreeMarx</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css'>
    <link rel='stylesheet' href="/static/styles/files.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href=
    "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <script src="/static/js/main.js"></script>
    <script src="/static/js/files.js"></script>
    <link href="/static/styles/app_style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>


<br />
<div class="container text-center">
    <center>
    <form method="POST" action="{{url_for('buyShare', id=investor_id, cid=company_id)}}">
    <div class="card" style="border:none; width:60%;">
        <div class="card-body">
            <h3 class="card-title"><b>Buy</b></h3>
            <p class="card-subtitle">buy shares</p>
        <br />
        <div class="form-floating mb-3">
            <input type="number" name="quantity" class="form-control" id="floatingInput" placeholder="number of shares to buy">
            <label for="floatingInput">Quantity</label>
        </div>
        <br />
        <button type="submit" class="btn btn-outline-dark" style="width:100%;">Buy now!</button>
    </div>
</div>
</form>
<a href="{{url_for('investorDashboard', id = investor_id)}}" style="text-decoration: none;">
<button class="btn btn">back</button>
</a>
</center>
</div>
</body>
</html>